@font-face {
  font-family: Quicksand;
  font-weight: normal;
  src: url('./fonts/Quicksand-Regular.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url('./fonts/Quicksand-Bold.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: lighter;
  src: url('./fonts/Quicksand-Light.otf');
}

@font-face {
  font-family: 'Quicksand Dashed';
  font-weight: normal;
  src: url('./fonts/Quicksand_Dash.otf');
}
