@font-face {
  font-family: Quicksand;
  font-weight: normal;
  src: url('./fonts/Quicksand-Regular.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url('./fonts/Quicksand-Bold.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: lighter;
  src: url('./fonts/Quicksand-Light.otf');
}

@font-face {
  font-family: 'Quicksand Dashed';
  font-weight: normal;
  src: url('./fonts/Quicksand_Dash.otf');
}

// Lato Font Family
@font-face {
  font-family: Lato;
  font-weight: normal;
  src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: lighter;
  src: url('./fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 100;
  src: url('./fonts/Lato-Hairline.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url('./fonts/Lato-Light.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 500;
  src: url('./fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 800;
  src: url('./fonts/Lato-Black.ttf');
}
