// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "colors";
@import "fonts";

* { box-sizing: border-box; }

html, body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: Quicksand, sans-serif;
  background-color: $white1;
}

nav {
  width: 100%;
  background-color: $black1;
  color: $white1;
  position: fixed;
  .nav-container {
    font-size: 12pt;
    display: none;
    a {
      color: $white1;
      text-decoration: none;
      padding: 10px 20px;
      font-weight: lighter;
      display: inline-block;
      transition: color 250ms, background-color 250ms;
      z-index: 15;
      .fa {
        font-size: 8pt;
      }
      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $black2;
        display: block;
        z-index: 200;
        a {
          display: block;
          color: $white1;
          text-decoration: none;
          font-size: 10pt;
          padding: 10px 15px;
          transition: background-color 250ms;
        }
        a:hover {
          background-color: $black1;
        }
        hr {
          border: none;
          border-bottom: 1px $white1 solid;
          margin: 10px;
        }
      }
    }
    a:hover {
      color: $white2;
      background-color: $black2;
      .dropdown {
        opacity: 1;
      }
    }
  }
  .nav-container.float-right {
    float: right;
    display: inline-block;
    a {
      padding: 12px;
    }
  }
  .nav-container.nav-mobile-menu {
    display: inline-block;
    .fa-bars {
      display: inline-block;
      padding-left: 10px;
      color: $white1;
      text-decoration: none;
      font-size: 15pt;
    }
    .mobile-nav {
      background-color: $black2;
      padding: 5px 0;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 100vw;
      max-height: 100vh;
      max-height: calc(100vh - 43px);
      position: fixed;
      left: 0;
      top: 0;
      margin-top: 43px;
      display: none;
      z-index: 200;
      a {
        display: block;
        color: $white1;
        text-decoration: none;
        padding: 5px 25px;
        background-color: $black2;
        transition: background-color 250ms, color 250ms;
        font-size: 16pt;
        a {
          font-size: 12pt;
        }
        a:hover {
          color: $white2;
        }
      }
      a:hover {
        background-color: $black1;
        a { background-color: $black1; }
      }
    }
  }
  .brand {
    color: $white1;
    text-decoration: none;
    font-size: 15pt;
    padding: 10px;
    display: inline-block;
  }
}

input {
  display: block;
}
input[type='text'], input[type='password'] {
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  color: $grey2;
  border: 2px rgba(255,255,255,0) solid;
  width: 100%;
  transition: border-color 250ms;
  font-size: 16pt;
  margin: 25px 0;
}
input[type='text']:focus, input[type='password']:focus {
  outline: none;
  border-color: $bluegreen1;
}

// TODO This style still needs cleanup.
input[type='checkbox'] {
  position: absolute;
  left: -200vw;
}
input[type='checkbox'] + label {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  color: $grey2;
  transition: color 250ms;
  font-size: 14pt;
}
input[type='checkbox'] + label:hover {
  color: $bluegreen1;
}
input[type='checkbox'] + label:before {
  display: inline-block;
  border-radius: 5px;
  background-color: $white2;
  position: relative;
  top: 6px;
  margin-right: 4px;
  content: '';
  width: 23px;
  height: 23px;
  transition: background-color 250ms;
}
input[type='checkbox'] + label:after {
  display: block;
  content: '';
}
input[type='checkbox']:checked + label:before {
  background-color: $bluegreen1;
}

.btn, input[type='submit'] {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: $blue1;
  color: $white1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms;
}
.btn:hover, input[type='submit']:hover {
  background-color: $blue2;
}
input[type='submit'] {
  width: 80%;
  margin: 10px auto;
}
.btn[disabled], input[type='submit'][disabled] {
  background-color: $grey1;
  cursor: default;
}

.pagebanner {
  width: 100%;
  padding: 40px;
  margin: 0;
  color: $white1;
  background-color: $black1;
  font-weight: normal;
  font-size: 5vh;
}
.pagebanner.banner-blue { background-color: $blue1; }

div[vx-route='/']{
  header.banner {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: $bluegreen1;
    h1 {
      position: absolute;
      width: 100%;
      text-align: center;
      color: $white1;
      font-weight: normal;
      font-size: 40pt;
      text-transform: uppercase;
    }
    h2 {
      position: absolute;
      width: 100%;
      top: 130px;
      text-align: center;
      color: $white1;
      font-weight: normal;
      font-size: 10pt;
      text-transform: uppercase;
    }
  }
  .tagline {
    padding: 80px 0;
    background-color: $bluegreen1;
    width: 100%;
  }
}
div[vx-route='/account'] {
  .page {
    width: 100%;
    height: 100vh;
    background-color: $bluegreen1;
    .panel {
      width: 90vw;
      max-width: 400px;
      background-color: $white1;
      border-radius: 10px;
      padding: 10px 30px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .title {
        position: absolute;
        bottom: 100%;
        color: $white1;
        font-weight: normal;
        width: 100%;
        text-align: center;
        margin: 10px;
        margin-left: -30px;
      }
      .pass-input-container {
        position: relative;
        input[name='pass2'] {
          transition: opacity 250ms, left 250ms, top 250ms;
        }
        input[name='pass2'].ng-enter, input[name='pass2'].ng-leave.ng-leave-active {
          position: absolute;
          opacity: 0;
          top: -60px;
          left: 100px;
        }
        input[name='pass2'].ng-enter.ng-enter-active, input[name='pass2'].ng-leave {
          position: absolute;
          opacity: 1;
          left: 0;
          top: -25px;
        }
        .pass-input-holder {
          transition: height 250ms;
          display: block;
        }
        .pass-input-holder.ng-enter {
          height: 70px;
        }
        .pass-input-holder.ng-enter.ng-enter-active {
          height: 0;
        }
        .pass-input-holder.ng-leave {
          height: 0;
        }
        .pass-input-holder.ng-leave.ng-leave-active {
          height: 70px;
        }
      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  //.pagebanner { font-size: 30pt; }
  div[vx-route='/account'] {
    .page .panel {
      .title { font-size: 30pt; }
    }
  }
}

/* Responsive: Desktops and up */
@media screen and (min-width: 1024px) {
  //.pagebanner { font-size: 40pt; }
  div[vx-route='/'] header.banner {
    height: 500px;
    h1 { font-size: 90pt; }
    h2 { font-size: 20pt; top: 230px; }
  }
  div[vx-route='/account'] {
    .page .panel {
      .title { font-size: 35pt; }
    }
  }
  nav {
    .nav-container.nav-desktop-menu { display: inline-block; }
    .nav-container.nav-mobile-menu { display: none; }
  }
}
