// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "colors";
@import "fonts";

* { box-sizing: border-box; }

html, body {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: $white;
  color: $black1;
}

hr {
  border: none;
  border-bottom: 1px $white1 solid;
  opacity: 0.5;
  margin: 10px auto;
  width: 80%;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transition: all .25s;
}

nav {
  width: 95%;
  background-color: $black1;
  color: $white1;
  font-weight: bold;
  margin: 10px auto;
  border-radius: 6px;
  box-sizing: border-box;
  border-bottom: 3px $black2 solid;
  .nav-container {
    font-size: 12pt;
    display: none;
    position: relative;
    top: -4px;
    a {
      color: $white1;
      text-decoration: none;
      padding: 10px 20px;
      display: inline-block;
      transition: color 250ms, background-color 250ms;
      vertical-align: middle;
      z-index: 15;
      &:hover {
        color: $bluegreen1;
        .dropdown { opacity: 1; }
        .caret {
          border-top-color: $bluegreen1;
          border-bottom-color: $bluegreen1;
          transform: scale(1);
        }
      }
      .caret {
        border-top-color: #4b6075;
        border-bottom-color: #4b6075;
        transform: scale(0.75);
      }
      .fa { font-size: 8pt; }
      .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $black2;
        display: block;
        z-index: 200;
        a {
          display: block;
          color: $white1;
          text-decoration: none;
          font-size: 10pt;
          padding: 10px 15px;
          transition: background-color 250ms;
          &:hover { background-color: $black1; }
        }
        hr {
          border: none;
          border-bottom: 1px $white1 solid;
          margin: 10px;
        }
      }
    }
  }
  .nav-container.float-right {
    float: right;
    display: inline-block;
    position: relative;
    top: 9px;
  }
  .nav-container.nav-mobile-menu {
    display: inline-block;
    .fa-bars {
      display: inline-block;
      padding-left: 10px;
      color: $white1;
      text-decoration: none;
      font-size: 15pt;
    }
    .mobile-nav {
      background-color: $black2;
      padding: 5px 0;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 100vw;
      max-height: 100vh;
      max-height: calc(100vh - 43px);
      position: fixed;
      left: 0;
      top: 0;
      margin-top: 43px;
      display: none;
      z-index: 200;
      a {
        display: block;
        color: $white1;
        text-decoration: none;
        padding: 5px 25px;
        background-color: $black2;
        transition: background-color 250ms, color 250ms;
        font-size: 16pt;
        a { font-size: 12pt; }
        a:hover { color: $white2; }
        &:hover {
          background-color: $black1;
          a { background-color: $black1; }
        }
      }
    }
  }
  .brand {
    color: $white1;
    text-decoration: none;
    font-size: 17pt;
    padding: 15px;
    display: inline-block;
  }
}
.nav-spacer {
  width: 100%;
  height: 57px;
}

input {
  display: block;
}
input[type='text'], input[type='password'] {
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  color: $grey2;
  border: 2px rgba(255,255,255,0) solid;
  width: 100%;
  transition: border-color 250ms;
  font-size: 16pt;
  margin: 25px 0;
  &:focus {
    outline: none;
    border-color: $bluegreen1;
  }
  &.error {
    border-color: $red1;
  }
}

// TODO This style still needs cleanup.
input[type='checkbox'] {
  position: absolute;
  left: -200vw;
}
input[type='checkbox'] + label {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  color: $grey2;
  transition: color 250ms;
  font-size: 14pt;
  &:hover { color: $bluegreen1; }
  &:before {
    display: inline-block;
    border-radius: 5px;
    background-color: $white2;
    position: relative;
    top: 6px;
    margin-right: 4px;
    content: '';
    width: 23px;
    height: 23px;
    transition: background-color 250ms;
  }
  &:after { display: block; content: ''; }
}
input[type='checkbox']:checked + label:before { background-color: $bluegreen1; }
input[type='checkbox']:focus + label { color: $bluegreen1; }

.btn, input[type='submit'] {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: $blue1;
  color: $white1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 250ms;
  &:hover, &:focus { background-color: $blue2; }
  &[disabled] { background-color: $grey1; cursor: default; }
}
input[type='submit'] {
  width: 80%;
  margin: 10px auto;
}

.pagebanner {
  width: 100%;
  padding: 40px;
  margin: 0;
  color: $white1;
  background-color: $black1;
  font-weight: normal;
  font-size: 5vh;
  &.banner-blue { background-color: $blue1; }
}

div[ng-view] {
  transition: transform 150ms ease, opacity 150ms ease;
  height: 100vh;
  overflow-y: auto;
  &.ng-enter-active, &.ng-leave {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
  &.ng-enter, &.ng-leave-active {
    transform: scale(0.9) translate3d(0, -1em, 0);
    opacity: 0;
  }
}

// Include pages.
@import 'pages/main';
@import 'pages/account';
@import 'pages/error';
@import 'pages/item';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) { }

/* Responsive: Desktops and up */
@media screen and (min-width: 1024px) {
  nav {
    .nav-container.nav-desktop-menu { display: inline-block; }
    .nav-container.nav-mobile-menu { display: none; }
  }
}
