div[vx-route='/db/search'] {
  width: 95%;
  margin: 0 auto;
  .search {
    display: flex;
    input[type=text] { margin: 10px 0; flex: 0 1 auto; }
    .form-dropdown {
      flex: 1 0 15%;
      padding: 15px 5px;
      padding-bottom: 0;
      margin: 0;
      .form-dropdown-content { top: 85%; }
    }
  }
}
