div[vx-route='/item'] {
  padding-top: 60px;
  width: 95%;
  margin: 0 auto;
  .search {
    input[type=text] {
      margin: 10px 0;
    }
    .search-options {
      display: flex;
      text-align: center;
      padding-bottom: 10px;
      input[type=checkbox] + label {
        display: inline-block;
        flex: 1 0 20%;
        white-space: nowrap;
      }
    }
  }
  .results {
    width: 100%;
    padding-bottom: 15px;
    h2 {
      width: 100%;
      text-align: center;
      color: $white2;
      font-weight: normal;
      margin: 50px 0;
    }
    .result {
      display: block;
      border-bottom: 1px $white1 solid;
      text-decoration: none;
      color: inherit;
      font-size: 14pt;
      padding: 5px 15px;
      &:nth-child(1) { border-top: 1px $white1 solid; }
      &:hover { color: $blue1; }
    }
  }
  .item {
    width: 100%;
    .itemdata {
      .header {
        width: 100%;
        height: 74px;
        padding: 10px;
        padding-top: 0;
        display: flex;
        border-bottom: 1px $white1 solid;
        img {
          flex: 0 0 64px;
          background-color: $white1;
          border-radius: 3px;
        }
        h1 {
          flex: 1 0 auto;
          font-size: 60px;
          padding: 2px;
          margin: 0;
          color: $white2;
          padding-left: 15px;
          opacity: 0.7;
        }
      }
      .stats {
        font-weight: normal;
        color: $white2;
        font-size: 14pt;
        padding: 0 10px;
      }
      .tabs {
        width: 100%;
        border-bottom: 2px $blue1 solid;
        a {
          display: inline-block;
          padding: 10px 20px;
          text-decoration: none;
          color: $white2;
          font-weight: bold;
          transition: color 250ms, background 250ms;
          &:hover {
            color: $blue1;
          }
          &.active {
            background-color: $blue1;
            color: $white;
            &:hover {
              color: $white;
              cursor: default;
            }
          }
        }
      }
    }
    .loading-err {
      width: 100%;
      display: block;
      text-align: center;
      color: $white1;
      font-size: 50pt;
    }
    .loading-icon {
      width: 100%;
      text-align: center;
      padding: 50px;
      .fa {
        font-size: 60pt;
        display: inline-block;
        text-align: center;
        margin: 20px auto;
        color: $white1;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  div[vx-route='/item'] {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  div[vx-route='/item'] {
    width: 65%;
  }
}
