div[vx-route='/']{
  .logo {
    img {
      margin: 10px auto;
      display: block;
      width: 50%;
      min-width: 100px;
      max-width: 400px;
    }
    h2 {
      width: 100%;
      text-align: center;
      font-size: 10pt;
      color: $black1;
      opacity: 0.8;
      margin: 0;
    }
  }
}

@media screen and (min-width: 512px) {
  div[vx-route='/'] {
    .logo h2 { font-size: 14pt; }

  }
}

@media screen and (min-width: 1400px) {
  div[vx-route='/'] {
    .logo h2 { font-size: 16pt; }

  }
}
