div[vx-route='/market'] {
  padding-top: 10px;
  margin-bottom: 50px;
  width: 95%;
  margin: 0 auto;
  .title { font-weight: 800; margin: 10px; }
  .market-container {
    display: flex;
    width: 100%;
    .market-section:first-child { flex: 0 0 45%; }
    .market-section {
      flex: 0 0 55%;
      padding: 0 10px;
      position: relative;
      h2 { text-align: center; }
      &.market-section-search {
        .query {
          width: 100%;
          border: none !important;
          outline: none !important;
          thead {
            font-weight: bold;
            font-size: 13pt;
          }
          tbody {
            tr:nth-child(odd) td:not(:nth-child(3)) { background-color: #fafafa; }
            td { margin: 0; border: none; }
            td:nth-child(1) { text-transform: capitalize; }
            td:nth-child(3) {
              width: 1%; white-space: nowrap;
              a {
                text-decoration: none;
                color: $white2;
                transition: color 250ms;
                &:hover { color: $grey1; }
              }
            }
          }
        }
        .query-adder {
          display: flex;
          input {
            display: block;
            width: auto;
            margin: 5px;
            padding: 5px;
            font-size: 12pt;
          }
          input[name='name'] { flex: 1 1 auto; }
          input[name='quantity'] { flex: 0 0 20%; }
          input[type='submit'] { flex: 0 0 10%; }
        }
        .buttons { text-align: right; }
        .paste-parser {
          background-color: rgba(0,0,0,0.3);
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 100;
          transition: opacity 250ms;
          .paste-parser-content {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $white;
            border-radius: 8px;
            padding: 20px;
            h2 { margin: 0; }
            p { text-align: center; color: $white2; margin: 0; }
            textarea {
              width: 100%;
              border-radius: 5px;
              margin-top: 5px;
              outline: none;
              border: 2px $white1 solid;
              padding: 10px;
              transition: border-color 250ms;
              &:focus { border-color: $bluegreen1; }
            }
          }
          &.ng-enter, &.ng-leave.ng-leave-active { opacity: 0; }
          &.ng-leave, &.ng-enter.ng-enter-active { opacity: 1; }
        }
      }
      &.market-section-results {
        .appraisal {
          width: 100%;
          border: none !important;
          outline: none !important;
          thead {
            font-weight: bold;
            font-size: 14pt;
            tr { width: 100% }
          }
          tbody {
            tr { width: 100% }
            tr td { padding: 5px; color: $grey1; }
            tr td:nth-child(1) {
              img {
                display: inline-block;
                vertical-align: middle;
              }
              a {
                text-decoration: none;
                color: $blue1;
                transition: color 250ms;
                &:hover { color: $blue2; }
              }
            }
            tr td:not(:nth-child(1)) { white-space: nowrap; }
            .appraisal-err { color: $red1; font-style: italic; }
            tr:last-child {
              border-top: 1px $white1 solid;
              td { color: $white2; }
            }
          }
        }
        p.fa { font-size: 30pt; transition: none; }
        p {
          width: 80%;
          margin: 10px auto;
          display: block;
          color: $white2;
          text-align: center;
        }
      }
    }
  }
}
