<!DOCTYPE HTML>
<html ng-app="tech3App">
  <head>
    <meta charset="utf-8">
    <title ng-bind="'Tech 3' + ($meta.title() ? ' • '+$meta.title() : '')">EVE Gate</title>
    <meta name="description" content="Premier third-party tools for EVE Online">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Navbar -->
    <nav>
      <div class="navbar">
        <a href="/" class="brand">Tech 3</a>
        <ul class="left">
          <li ng-repeat="link in $meta.nav[0]">
            <a href="javascript:">
              <span class="text" ng-bind="link.text"></span>
              <span ng-if="link.items" class="caret"></span>
            </a>
            <div class="dropdown">
              <div ng-repeat="item in link.items">
                <a ng-if="item.href" ng-bind="item.text"
                  ng-href="{{ item.href.startsWith('@') ? '/' + link.href + '/' + item.href : item.href }}"></a>
                <hr ng-if="!item.href">
              </div>
            </div>
          </li>
        </ul>
        <ul class="right">

        </ul>
        <div class="clear"></div>
      </div>
      <!--
      <div class="nav-container nav-mobile-menu">
        <a href="javascript:" class="fa fa-bars" ng-click="toggleNavMobile()"></a>
        <div id="navMobile" class="mobile-nav"></div>
      </div>
      <a href="/" class="brand">Tech 3</a>
      <div class="nav-container nav-desktop-menu">
        <a ng-repeat="link in $meta.nav[0]" ng-href="{{'/' + link.href}}"
          ng-mouseenter="toggleNavDD($event, link)" ng-mouseleave="toggleNavDD($event)">
          {{link.text}}
          <span ng-if="link.items" class="caret"></span>
        </a>
      </div>
      <div class="nav-container float-right">
        <a href="/account">
          <span ng-if="!$user.isLogged()">Sign In</span>
          <span ng-if="$user.isLogged()">Account</span>
        </a>
      </div>
      <div id="navDD" class="dropdown" style="display:none"></div>-->
    </nav>

    <div id="view" ng-view vx-route></div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site ID -->
    <!--<script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/normalize-strings/normalize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/velocity/velocity.ui.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/controllers/error.js"></script>
        <script src="scripts/controllers/item.js"></script>
        <!-- endbuild -->
</body>
</html>
