<!DOCTYPE HTML>
<html ng-app="tech3App">
  <head>
    <meta charset="utf-8">
    <title ng-bind="'Tech 3' + ($meta.title ? ' • '+$meta.title : '')">Loading...</title>
    <meta name="application-name" content="Tech 3">
    <meta name="description" content="Premier third-party tools for EVE Online">
    <meta name="author" content="Vevox Digital">
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="backend-msg" ng-if="$meta.backendMsg"><h1 ng-bind="$meta.backendMsg"></h1></div>

      <!-- Navbar -->
      <nav>
        <div class="navbar">
          <a href="javascript:" class="mobile-menu fa fa-bars"></a>
          <a href="/" class="brand">Tech 3</a>
          <ul>
            <li ng-repeat="link in $meta.nav[0]" nav-link nav-link-scope="link"></li>
          </ul>
          <div class="right" nav-link nav-link-scope="$user ? $meta.nav[1].user : $meta.nav[1].login"></div>
          <div class="clear"></div>
        </div>
      </nav>
    </header>

    <section>
      <div id="view" ng-view vx-route></div>
    </section>

    <footer>

    </footer>



    <!-- Google Analytics: change UA-XXXXX-X to be your site ID -->
    <!--<script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/normalize-strings/normalize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/velocity/velocity.ui.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Misc Scripts -->
    <script>
      $(function () {
        $('html').click(function (event) {
          var closeDD = function (cb) {
            var dd = $('.active ~ .dropdown');
            dd.prev().removeClass('active');
            dd.velocity({
              opacity: 0,
              translateY: '-5%'
            }, { duration: 150, complete: function () {
              dd.hide();
            } });
          };
          if ($(event.target).closest('nav li > a.dropable').length) {
            if ($('nav li > a.active').length) { closeDD(); }
            $(event.target).closest('nav li > a.dropable').addClass('active');
            $('.active ~ .dropdown').show().velocity({
              translateY: '-5%',
              translateX: '-50%'
            }, { duration: 0 }).velocity({
              opacity: 1,
              scale: 1,
              translateY: 0
            }, { duration: 150 });
          } else if (!$(event.target).closest('.active ~ .dropdown').length) {
            closeDD();
          } else {
            $(event.target).mouseup();
            $('nav ul').removeClass('shown');
            setTimeout(closeDD);
          };
        });

        // Mobile navbar toggle.
        $('nav .mobile-menu').click(function () {
          $('nav ul').toggleClass('shown');
        });
      });
    </script>

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/error.js"></script>
        <script src="scripts/controllers/item.js"></script>
        <script src="scripts/controllers/database-search.js"></script>
        <script src="scripts/services/backend-service.js"></script>
        <script src="scripts/controllers/market.js"></script>
        <script src="scripts/controllers/indy-reactions.js"></script>
        <script src="scripts/directives/nav-link.js"></script>
        <!-- endbuild -->
</body>
</html>
