<div vx-route="/account">
  <div ng-if="$user.isLogged()">

  </div>
  <div ng-if="!$user.isLogged()" class="login">
    <div id="loginPage" class="page" ng-style="pageHeight">
      <div id="loginPanel" class="panel" ng-style="panelTop" ng-if="!$user.logging">
        <div class="error-popup" id="errorPopup" ng-show="loginError">
          <i class="fa fa-chevron-left"></i>
          {{ loginError }}
        </div>
        <h1 class="title">Welcome, Pilot</h1>
        <form ng-submit="submitLogin()" action="javascript:">
          <div class="input-wrapper">
            <input type="text" ng-model="login.email" placeholder="Email" vx-eid="0">
          </div>

          <div class="input-wrapper">
            <input type="password" ng-model="login.pass" placeholder="Password" vx-eid="1">
          </div>

          <div class="input-wrapper">
            <div class="pass-input-container">
              <div class="pass-input-holder" ng-if="!login.new"></div>
              <input type="password" ng-model="login.pass2" placeholder="Retype Password" ng-if="login.new" vx-eid="2">
            </div>
          </div>

          <div class="input-wrapper">
            <input id="checkNew" type="checkbox" ng-model="login.new">
            <label for="checkNew">I'm new here</label>
          </div>

          <div class="pass-tos-container" ng-show="login.new">
            <div class="input-wrapper">
              <input id="checkTOS" type="checkbox" ng-model="login.tos">
              <label for="checkTOS" vx-eid="3">I agree to the Terms of Service</label>
            </div>
          </div>

          <div class="input-wrapper">
            <input type="submit" ng-value="checkNew ? 'Squad Up' : 'Warp Me In'"
              ng-disabled="login.new &amp;&amp; !login.tos" vx-eid="4">
          </div>
        </form>
      </div>
      <div class="loading fa fa-circle-o-notch fa-spin" ng-if="$user.logging"></div>
    </div>
  </div>
</div>
