<div vx-route="/db/search">

  <form action="javascript:" class="search">
    <input id="dbSearchQuery" type="text" ng-model="search.name" placeholder="Search by Item Name">

    <div class="form-dropdown" id="dbSearchOpts">
      <button class="btn btn-default" vx-value=""><span class="text"></span><span class="caret"></span></button>
      <div class="form-dropdown-content">
        <a href="javascript:" ng-repeat="opt in searchOptions" vx-value="{{$index}}" ng-bind="opt[0]"></a>
      </div>
    </div>
  </form>

  <div class="results">
    <h2 ng-if="!showResults()" ng-bind-html="searchData"></h2>
    <div ng-if="showResults()">
      <a class="result" ng-repeat="result in searchData"
        ng-href="/info/item/{{ result._id }}" ng-bind="result.name"> </a>
    </div>
  </div>
  
</div>
