<div vx-route="/item">
  <!-- No ID: Search for items. -->
  <div ng-if="!itemData">
    <form action="javascript:" class="search">
      <input id="itemSearch" type="text" ng-model="itemSearch.name" placeholder="Search by Item Name">

      <div class="search-options">
        <input id="searchShowDust" type="checkbox" ng-model="itemSearch.showDust">
        <label for="searchShowDust">Show DUST Items</label>

        <input id="searchShowBP" type="checkbox" ng-model="itemSearch.showBP">
        <label for="searchShowBP">Show Blueprints</label>
      </div>
    </form>
    <div class="results">
      <h2 ng-if="!dataDisplayable()" ng-bind-html="data"></h2>
      <div ng-if="dataDisplayable()">
        <a class="result" ng-repeat="result in data" ng-href="/info/item/{{ result._id }}"
          ng-if="(itemSearch.showDust || result._id < 300000) &amp;&amp; (itemSearch.showBP == (result.name.substr(-9) === 'Blueprint'))">
          {{ result.name }}
        </a>
      </div>
    </div>
  </div>

  <!-- ID Given: Try to view item details. -->
  <div ng-if="itemData" class="item">
    <a href="javascript:" onclick="window.history.back()" class="btn">&laquo; Back</a>
    <div ng-if="itemData.name" class="itemdata">
      <div class="header">
        <img ng-src="http://image.eveonline.com/Type/{{ itemData._id }}_64.png">
        <h1 ng-bind="itemData.name"></h1>
      </div>
      <h2 class="stats">
        {{ itemData.meta.volume || 0 }}m3 &nbsp; &sdot; &nbsp;
        {{ itemData.market.est.buy[0].value || 0 }}<span class="isk">ISK</span> Buy /
        {{ itemData.market.est.sell[0].value || 0 }}<span class="isk">ISK</span> Sell</h2>
      <div class="tabs">
        <a href="javascript:" ng-repeat="tab in itemTabs" ng-click="setTabIndex($index)"
          ng-class="{ active: isTabIndex($index) }" ng-bind="itemTabs[$index]"></a>
      </div>
      <div class="tab tab-desc" ng-if="isTabIndex(0)">
        <p ng-bind-html="itemData.meta.description"></p>
      </div>
      <div class="tab tab-attrs" ng-if="isTabIndex(1)">
        <div class="attr" ng-repeat="a in itemData.meta.attributes"
          title="{{a.attribute.meta.description}}" ng-if="a.attribute.published">
          <p class="name" ng-bind="a.attribute.meta.displayName || a.attribute.name"></p>
          <p class="value" ng-bind-html="a.value_str"></p>
        </div>
      </div>
      <div class="tab tab-market" ng-if="isTabIndex(2)">
        <h2>Coming Soon</h2>
      </div>
    </div>
    <div ng-if="!itemData.name">
      <h1 class="loading-err" ng-if="itemData.err" ng-bind-html="'Error fetching type:<br>' + itemData.err"></h1>
      <div class="loading-icon" ng-if="!itemData.err"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
    </div>
  </div>
</div>
