<div vx-route="/">
  <header class="banner" style="background-image: url('{{img}}')">
    <img src="/images/logo_w.png">
    <h2>Premier tools for EVE Online</h2>
  </header>
  <div class="tagline">
    <h1>Never Warp In Alone</h1>
    <hr>
    <h2>Whatever it is you need, Tech 3 has you covered. Never warp in alone again.</h2>
    <!-- TODO Features or sponsors or something. -->
  </div>
  <div class="showcase showcase-blue">
    <div class="minor">
      <p>&nbsp;</p>
    </div>
    <div class="major">
      <h1>Designed for the Modern Web</h1>
      <p>
        No more shall remain in the past! Tech 3 uses some the most modern tools
        available to give you the best possible experience. We aim to create an
        environment everyone can use and enjoy without something important breaking.
      </p>
    </div>
  </div>
</div>
