<div vx-route="/market">
  <h1 class="title">Market Appraisals</h1>
  <div class="market-container">
    <div class="market-section market-section-search">
      <h2>Item Search Query</h2><hr>
      <div class="buttons">

        <div class="form-dropdown" id="regionSelect">
          <button class="btn btn-default" vx-value=""><span class="text"></span><span class="caret"></span></button>
          <div class="form-dropdown-content">
            <a href="javascript:" vx-value="">Universe</a>
            <a href="javascript:" ng-repeat="region in $regions" vx-value="{{region.id}}" ng-bind="region.name"></a>
          </div>
        </div>

        <a class="btn btn-primary" href="javascript:" ng-click="createAppraisal()" ng-disabled="requestPending">Create Appraisal &raquo;</a>
      </div>
      <div class="text-center">
        <a href="javascript:" ng-click="searchQuery = []">Clear</a> &bull;
        <a href="javascript:" ng-click="query.pasteParserShown = true">Mass Item Reader</a>
      </div>

      <form class="query-adder" ng-submit="addQuery(queryAddition)">
        <input type="text" name="name" placeholder="Item Name" ng-model="query.name">
        <input type="number" name="quantity" placeholder="Amount" ng-model="query.quantity">
        <input type="submit" value="Add">
      </form>
      <table class="query">
        <thead ng-if="searchQuery.length > 0">
          <tr>
            <td>Type Name</td>
            <td>Quantity</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="queryItem in searchQuery">
            <td ng-bind="queryItem.name"></td>
            <td ng-bind="queryItem.num"></td>
            <td><a href="javascript:" ng-click="delQuery($index)" class="fa fa-close"></a></td>
          </tr>
        </tbody>
      </table>
      <div class="paste-parser" ng-if="query.pasteParserShown">
        <div class="paste-parser-content">
          <h2>Mass Item Reader</h2>
          <p>Paste data from hangars, containers, D-Scan results, and more.</p>
          <textarea id="pasteParserContent" class="market-search" placeholder="Copy with Ctrl+C and paste here." rows="10"></textarea>
          <div class="text-center">
            <a href="javascript:" class="btn btn-warning" ng-click="query.pasteParserShown = false">Cancel</a>
            <a href="javascript:" class="btn btn-success" ng-click="parseItems()">Submit Paste</a>
          </div>
        </div>
      </div>
    </div>
    <div class="market-section market-section-results">
      <h2>Your Appraisal</h2><hr>

      <table ng-if="appraisal.length" class="appraisal">
        <thead>
          <tr>
            <td>Item</td>
            <td>Volume</td>
            <td>Price</td>
            <td>ISK/m<sup>3</sup></td>
            <td>Total Value</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in appraisal">
            <td ng-bind="item.name + ' x' + item.quantity"></td>
            <td ng-if="item.err" class="appraisal-err" ng-bind="item.err" colspan="6"></td>
            <td ng-if="!item.err">{{item.volume}}m<sup>3</sup></td>
            <td ng-if="item.price.buy &amp;&amp; !item.err">
              {{item.price.buy.unit_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.unit_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="item.price.buy &amp;&amp; !item.err">
              {{item.price.buy.m3_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.m3_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="item.price.buy &amp;&amp; !item.err">
              {{item.price.buy.total_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.total_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="!item.price.buy &amp;&amp; !item.err">
              {{item.price.unit_str}}<span class="isk">ISK</span>
            </td>
            <td ng-if="!item.price.buy &amp;&amp; !item.err">
              {{item.price.m3_str}}<span class="isk">ISK</span>
            </td>
            <td ng-if="!item.price.buy &amp;&amp; !item.err">
              {{item.price.total_str}}<span class="isk">ISK</span>
            </td>
          </tr>
          <tr>
            <td class="text-right">Totals</td>
            <td colspan="3">{{appraisalTotal.volume}}m<sup>3</sup></td>
            <td ng-if="item.price.buy">
              {{appraisalTotal.price.buy}}<span class="isk">ISK</span> Buy,<br>
              {{appraisalTotal.price.sell}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="!item.price.buy">
              {{appraisalTotal.price}}<span class="isk">ISK</span>
            </td>
          </tr>
          <tr ng-if="appraisal.length &amp;&amp; permalink &amp;&amp; !requestPending">
            <td colspan="6" class="text-center">
              Permalink created. Copy the link from your URL bar.
            </td>
          </tr>
          <tr ng-if="appraisal.length &amp;&amp; !permalink &amp;&amp; !requestPending">
            <td colspan="6" class="text-center">
              <a href="javascript:" ng-click="createPermalink()">Create Permalink</a>
            </td>
          </tr>
        </tbody>
      </table>

      <p ng-if="!appraisal.length &amp;&amp; !appraisalError &amp;&amp; !requestPending">
        Your appraisal will appear here once you've submitted at least one search query.
        Enter or paste a search query to get started.
      </p>
      <p ng-if="appraisalError" ng-bind="appraisalError"></p>
    </div>
  </div>
</div>
