<div vx-route="/market">
  <h1 class="title">Market Appraisals</h1>
  <div class="market-container">
    <div class="market-section market-section-search">
      <h2>Item Search Query</h2><hr>
      <table class="query">
        <thead ng-if="searchQuery.length > 0">
          <tr>
            <td>Type Name</td>
            <td>Quantity</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="queryItem in searchQuery">
            <td ng-bind="queryItem.name"></td>
            <td ng-bind="queryItem.num"></td>
            <td><a href="javascript:" ng-click="delQuery($index)" class="fa fa-close"></a></td>
          </tr>
        </tbody>
      </table>
      <form class="query-adder" ng-submit="addQuery(queryAddition)">
        <input type="text" name="name" placeholder="Item Name" ng-model="query.name">
        <input type="number" name="quantity" placeholder="Amount" ng-model="query.quantity">
        <input type="submit" value="Add">
      </form>
      <div class="buttons">
        <a class="btn btn-warning" href="javascript:" ng-click="searchQuery = []">Clear</a>
        <a class="btn" href="javascript:">Mass Item Reader</a>
        <a class="btn btn-primary" href="javascript:" ng-click="createAppraisal()">Create Appraisal &raquo;</a>
      </div>
      <!--<p>
        You can search by copying contents of a container or an inventory with <code>Ctrl+C</code> and
        <code>Ctrl+V</code> or enter full item names followed by quantity, new line separated.
      </p>
      <textarea class="market-search" placeholder="Give it a go, search something!" rows="10"></textarea>-->
    </div>
    <div class="market-section market-section-results">
      <h2>Your Appraisal</h2><hr>

      <table ng-if="appraisal.length" class="appraisal">
        <thead>
          <tr>
            <td>Item</td>
            <td>Volume</td>
            <td>Price</td>
            <td>ISK/m<sup>3</sup></td>
            <td>Total Value</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in appraisal">
            <td ng-bind="item.name + ' x' + item.quantity"></td>
            <td>{{item.volume}}m<sup>3</sup></td>
            <td ng-if="item.price.buy">
              {{item.price.buy.unit_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.unit_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="item.price.buy">
              {{item.price.buy.m3_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.m3_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="item.price.buy">
              {{item.price.buy.total_str}}<span class="isk">ISK</span> Buy,<br>
              {{item.price.sell.total_str}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="!item.price.buy">
              {{item.price.unit_str}}<span class="isk">ISK</span>
            </td>
            <td ng-if="!item.price.buy">
              {{item.price.m3_str}}<span class="isk">ISK</span>
            </td>
            <td ng-if="!item.price.buy">
              {{item.price.total_str}}<span class="isk">ISK</span>
            </td>
          </tr>
          <tr>
            <td class="text-right">Totals</td>
            <td>{{appraisalTotal.volume}}m<sup>3</sup></td>
            <td></td>
            <td></td>
            <td ng-if="item.price.buy">
              {{appraisalTotal.price.buy}}<span class="isk">ISK</span> Buy,<br>
              {{appraisalTotal.price.sell}}<span class="isk">ISK</span> Sell
            </td>
            <td ng-if="!item.price.buy">
              {{appraisalTotal.price}}<span class="isk">ISK</span>
            </td>
          </tr>
        </tbody>
      </table>

      <p ng-if="!appraisal.length &amp;&amp; !appraisalError">
        Your appraisal will appear here once you've submitted at least one search query.
        Enter or paste a search query to get started.
      </p>
      <p ng-if="appraisalError" ng-bind="appraisalError"></p>
    </div>
  </div>
</div>
